body {
  font-family: "arial";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  text-align: center;
    margin: auto;
    background-image: url(../images/background.jpg);
    padding: 15px;
    border-bottom: 5px solid #333;
}

.wrapper h1 {
  font-weight: bold;
    padding: 5px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgb(0, 0, 0 , 0.5);
    border: none;
    width: 50%;
	margin: 35px auto 20px;
    color: #fff;
}

#card {
max-width: 300px;
  min-width: 150px;
  width: 30%;
  height: auto;
  margin-top: 15px;
}

.btn {
  border: none;
  font-size: 1.5em;
  padding: 10px 15px;
  margin: 15px;
  background: #333;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.sideBtn {
    margin: auto;
    text-align: center;
    font-size: 1.25em;
    background: #333;
    color: #fff;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    width: 50%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.sideBtn:hover {
  opacity: 0.9;
}

#viewCardsWrap {
  padding: 5px 10px;
  position: absolute;
  z-index: 9999;
  margin-top: 15px;
  text-align: center;
}

.viewCards img {
  width: auto;
  height: 90px;
  margin:2px;
}

#closeCards {
  top: 250px;
  left: 0px;
  position: absolute;
  display: none;
}

.numberCards {
  color: #FFF;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #333;
}

#instructions {
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1.5em;
}

.card-transform {
  transform: rotateY(360deg);
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

#homescreen_prompt {
	background: #FFF;
	position: absolute;
   left: 50vh;
	top: -10px;
	padding: 10px 20px;
	border-radius: 3px;
   -moz-border-radius: 3px;
   border: solid 1px #333;
}

.home_wrapper {
	background-image: url(../images/background.jpg);
    padding: 15px;
	min-height: 700px;
	height: 100%;
	width: auto;
	overflow: hidden;
	text-align: center;
}

.home_btn {
	clear: both;
	width: 60%;
	margin: 10px auto;
	padding: 10px 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  	 border: solid 1px #333;
	cursor: pointer;
}

.first_btn {
	margin-top: 150px;
}