.wrapper {
  text-align: center;
  width: 90%;
  margin: auto;
}

#card {
  width: auto;
  height: 75%;
}

.btn {
  border: none;
  font-size: 1.5em;
  padding: 10px 15px;
  margin: 15px;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.sideBtn {
  font-size: 1.25em;
  background: #333;
  color: #fff;
  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 25px;
  cursor: pointer;
}

.sideBtn:hover {
  opacity: 0.9;
}

#viewCardsWrap {
  position: absolute;
  z-index: 9999;
}

.viewCards img {
  margin-top: 100px;
  width: 100px;
  height: auto;
  border: thin solid #333;
}

#closeCards {
  top: 250px;
  left: 0px;
  position: absolute;
  display: none;
}
